.Help_center {
  min-height: 40vh;
  text-align: center;
}

.container {
  padding: 30px 0;
  align-items: center;
}

.title {
  color: #e50914;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
}

.description {
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
  color: #555;
}
/* Go Back Home button */
.button {
  background-color: #e50914; /* Netflix red */
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .container {
    padding: 15px;
  }
}
